{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <main class="container mt-5 text-white">
        <h1 class="text-white text-center">Sobre Nosotros</h1>

        <section class="container mt-4 p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title">¿Quiénes Somos?</h2>
                            <p class="card-text">En NovamindAcademy, somos un equipo dedicado a la excelencia educativa. Nuestra plataforma está diseñada para proporcionar una experiencia de aprendizaje integral, accesible y efectiva para estudiantes de todas las edades y niveles.</p>
                            <p class="card-text">Nuestra historia comenzó con un pequeño grupo de educadores y tecnólogos apasionados por transformar la educación a través de la tecnología. Hoy, somos una comunidad global con miles de estudiantes que confían en nosotros para alcanzar sus metas académicas y profesionales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mt-4 p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title">¿Cual es Nuestra Misión?</h2>
                            <p class="card-text">Nuestra misión es empoderar a los estudiantes con el conocimiento y las habilidades que necesitan para tener éxito en sus estudios y en la vida. Creemos que la educación debe ser accesible para todos, y trabajamos incansablemente para asegurarnos de que nuestros recursos sean útiles, relevantes y fáciles de usar.</p>
                            <p class="card-text">Nos comprometemos a proporcionar contenido de alta calidad creado por expertos en diversas materias, asegurándonos de que cada estudiante tenga las herramientas necesarias para sobresalir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mt-4 p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Nuestra Historia</h2>
                            <p class="card-text">NovamindAcademy fue fundada en 2024 por un grupo de educadores que vieron la necesidad de una plataforma educativa que pudiera llegar a estudiantes en cualquier lugar del mundo. Comenzamos con un pequeño equipo y una visión clara: hacer la educación accesible y efectiva para todos.</p>
                            <p class="card-text">A lo largo de los años, hemos crecido y evolucionado, añadiendo nuevas características y expandiendo nuestra oferta de cursos. Hoy, somos líderes en la educación en línea, conocidos por nuestra innovación y compromiso con la calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mt-4 p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Nuestros Servicios</h2>
                            <p class="card-text">En NovamindAcademy, ofrecemos una amplia gama de servicios educativos diseñados para satisfacer las necesidades de estudiantes, educadores e instituciones académicas:</p>
                            <ul class="list-group list-group-item-action bg-dark">
                                <li class="list-group-item bg-dark text-white"><strong>Cursos en Línea:</strong> Una extensa biblioteca de cursos en diversas áreas de estudio (Ciberseguridad, control y gestión de redes, programación Backend y Frontend, etc.).</li>
                                <li class="list-group-item bg-dark text-white"><strong>Tutorías Personalizadas:</strong> Conexión con tutores expertos en cada campo para apoyo personalizado y orientación académica.</li>
                                <li class="list-group-item bg-dark text-white"><strong>Recursos Educativos:</strong> Materiales didácticos, guías de estudio y herramientas interactivas para complementar el aprendizaje.</li>
                                <li class="list-group-item bg-dark text-white"><strong>Programas de Certificación:</strong> Programas diseñados para ayudar a los estudiantes a obtener certificaciones reconocidas en su campo de interés. Puedes encontrar certificaciones de <a href="https://cloud.google.com/certification" target="_blank" class="text-primary">Google</a>, <a href="https://www.microsoft.com/en-us/learning/certification-overview.aspx" target="_blank" class="text-primary">Microsoft</a> y <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/updating-your-github-access-credentials" target="_blank" class="text-primary">GitHub</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mt-4 p-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Nuestros Valores</h2>
                            <ul class="list-group list-group-item-action bg-dark">
                                <li class="list-group-item bg-dark text-white"><strong>Excelencia:</strong> Nos esforzamos por ofrecer los mejores recursos educativos posibles.</li>
                                <li class="list-group-item bg-dark text-white"><strong>Accesibilidad:</strong> Creemos que todos deberían tener acceso a una educación de calidad.</li>
                                <li class="list-group-item bg-dark text-white"><strong>Innovación:</strong> Estamos constantemente mejorando y actualizando nuestra plataforma para satisfacer las necesidades cambiantes de los estudiantes.</li>
                                <li class="list-group-item bg-dark text-white"><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todo lo que hacemos.</li>
                                <li class="list-group-item bg-dark text-white"><strong>Colaboración:</strong> Fomentamos un ambiente de cooperación y apoyo mutuo entre estudiantes y educadores.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mt-4 p-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Nuestro Equipo</h2>
                            <p class="card-text">Contamos con un equipo diverso de expertos en educación, tecnología y diseño, todos comprometidos con la misión de NovamindAcademy. Nos enorgullece trabajar juntos para crear una plataforma que haga la diferencia en la vida de nuestros usuarios.</p>
                            <p class="card-text">Nuestro equipo incluye:</p>
                            <ul class="list-group list-group-item-action bg-dark">
                                <li class="list-group-item bg-dark text-white">Educadores experimentados y apasionados.</li>
                                <li class="list-group-item bg-dark text-white">Desarrolladores de software innovadores.</li>
                                <li class="list-group-item bg-dark text-white">Diseñadores creativos y centrados en el usuario.</li>
                                <li class="list-group-item bg-dark text-white">Especialistas en soporte al cliente dedicados.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mt-4 p-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title text-center">Testimonios</h2>
                            <h5 class="card-text mt-3 text-center">Escucha lo que nuestros estudiantes tienen que decir sobre NovamindAcademy:</h5>
                            <blockquote class="blockquote text-center">
                                <p class="mb-0">"Gracias a NovamindAcademy, pude mejorar mis habilidades en programación y obtener un empleo en una empresa de tecnología líder en la industria. Los cursos son dinámicos, prácticos y me proporcionaron el conocimiento necesario para destacar en mi campo." - María G.</p>
                                <footer class="text-white text-center">★★★★★</footer>
                            </blockquote>
                            <blockquote class="blockquote text-center">
                                <p class="mb-0">"Los instructores de NovamindAcademy son expertos en su campo y realmente se preocupan por el crecimiento profesional de sus estudiantes. Gracias a su guía y apoyo, pude dominar Python, Java y otros lenguajes para avanzar en mi carrera como desarrollador de software." - Juan P.</p>
                                <footer class="text-white text-center">★★★★☆</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mt-4 mb-5 p-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Contáctanos</h2>
                            <p class="card-text">¿Tienes alguna pregunta o necesitas más información? No dudes en ponerte en contacto con nosotros:</p>
                            <ul class="list-group list-group-item-action bg-dark">
                                <li class="list-group-item bg-dark text-white">Email: <a href="mailto:info@novamindacademy.com" class="text-white">info@novamindacademy.com</a></li>
                                <li class="list-group-item bg-dark text-white">Teléfono: <a href="tel:+34656789281" class="text-white">+34 656 789 281</a></li>
                                <li class="list-group-item bg-dark text-white">Dirección: Calle Saturno 15, Madrid, España</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
